layout {
    default_tab_template {
        pane size=1 borderless=true {
            // plugin location="file:@zjstatus@.wasm" {
            plugin location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {

                format_left   "{mode}#[bg=#eff1f5] {tabs}"
                format_center ""
                format_right  "#[bg=#eff1f5,fg=#1e66f5]#[bg=#1e66f5,fg=#eff1f5,bold] #[bg=#dce0e8,fg=#1e66f5,bold] {session} #[bg=#eff1f5,fg=#dce0e8,bold]"
                format_space  ""
                format_hide_on_overlength "true"
                format_precedence "crl"

                border_enabled  "false"
                border_char     "─"
                border_format   "#[fg=#4c4f69]{char}"
                border_position "top"

                // mode colors
                mode_normal        "#[bg=#40a02b,fg=#eff1f5,bold] NORMAL#[bg=#eff1f5,fg=#40a02b]█"
                mode_locked        "#[bg=#6c7086,fg=#eff1f5,bold] LOCKED #[bg=#eff1f5,fg=#6c7086]█"
                mode_resize        "#[bg=#ea76cb,fg=#eff1f5,bold] RESIZE#[bg=#eff1f5,fg=#ea76cb]█"
                mode_pane          "#[bg=#1e66f5,fg=#eff1f5,bold] PANE#[bg=#eff1f5,fg=#1e66f5]█"
                mode_tab           "#[bg=#7287fd,fg=#eff1f5,bold] TAB#[bg=#eff1f5,fg=#7287fd]█"
                mode_scroll        "#[bg=#df8e1d,fg=#eff1f5,bold] SCROLL#[bg=#eff1f5,fg=#df8e1d]█"
                mode_enter_search  "#[bg=#04a5e5,fg=#eff1f5,bold] ENT-SEARCH#[bg=#eff1f5,fg=#04a5e5]█"
                mode_search        "#[bg=#04a5e5,fg=#eff1f5,bold] SEARCHARCH#[bg=#eff1f5,fg=#04a5e5]█"
                mode_rename_tab    "#[bg=#7287fd,fg=#eff1f5,bold] RENAME-TAB#[bg=#eff1f5,fg=#7287fd]█"
                mode_rename_pane   "#[bg=#1e66f5,fg=#eff1f5,bold] RENAME-PANE#[bg=#eff1f5,fg=#1e66f5]█"
                mode_session       "#[bg=#209fb5,fg=#eff1f5,bold] SESSION#[bg=#eff1f5,fg=#209fb5]█"
                mode_move          "#[bg=#ea76cb,fg=#eff1f5,bold] MOVE#[bg=#eff1f5,fg=#ea76cb]█"
                mode_prompt        "#[bg=#04a5e5,fg=#eff1f5,bold] PROMPT#[bg=#eff1f5,fg=#04a5e5]█"
                mode_tmux          "#[bg=#fe640b,fg=#eff1f5,bold] TMUX#[bg=#eff1f5,fg=#fe640b]█"

                // formatting for inactive tabs
                tab_normal              "#[bg=#eff1f5,fg=#1e66f5]█#[bg=#1e66f5,fg=#eff1f5,bold]{index} #[bg=#dce0e8,fg=#1e66f5,bold] {name}{floating_indicator}#[bg=#eff1f5,fg=#dce0e8,bold]█"
                tab_normal_fullscreen   "#[bg=#eff1f5,fg=#1e66f5]█#[bg=#1e66f5,fg=#eff1f5,bold]{index} #[bg=#dce0e8,fg=#1e66f5,bold] {name}{fullscreen_indicator}#[bg=#eff1f5,fg=#dce0e8,bold]█"
                tab_normal_sync         "#[bg=#eff1f5,fg=#1e66f5]█#[bg=#1e66f5,fg=#eff1f5,bold]{index} #[bg=#dce0e8,fg=#1e66f5,bold] {name}{sync_indicator}#[bg=#eff1f5,fg=#dce0e8,bold]█"

                // formatting for the current active tab
                tab_active              "#[bg=#eff1f5,fg=#df8e1d]█#[bg=#df8e1d,fg=#eff1f5,bold]{index} #[bg=#dce0e8,fg=#df8e1d,bold] {name}{floating_indicator}#[bg=#eff1f5,fg=#dce0e8,bold]█"
                tab_active_fullscreen   "#[bg=#eff1f5,fg=#df8e1d]█#[bg=#df8e1d,fg=#eff1f5,bold]{index} #[bg=#dce0e8,fg=#df8e1d,bold] {name}{fullscreen_indicator}#[bg=#eff1f5,fg=#dce0e8,bold]█"
                tab_active_sync         "#[bg=#eff1f5,fg=#df8e1d]█#[bg=#df8e1d,fg=#eff1f5,bold]{index} #[bg=#dce0e8,fg=#df8e1d,bold] {name}{sync_indicator}#[bg=#eff1f5,fg=#dce0e8,bold]█"

                // separator between the tabs
                tab_separator           "#[bg=#eff1f5] "

                // indicators
                tab_sync_indicator       " "
                tab_fullscreen_indicator " 󰊓"
                tab_floating_indicator   " 󰹙"

                command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
                command_git_branch_format      "#[fg=#1e66f5] {stdout} "
                command_git_branch_interval    "10"
                command_git_branch_rendermode  "static"

                datetime          "{format}"
                datetime_format   "%Y-%m-%d 󰅐 %H:%M"
                datetime_timezone "America/New_York"
            }
        }

      pane split_direction="vertical" {
        pane size="60%"
        pane size="40%" split_direction="horizontal" {
          children
        }
      }
    }
}
